<header>
  <div class="bg-div">
    <a href="brand.html"><img class="logo-image" src="images/logo-boat.png" alt="Logo Brazilian Cuisine" width="93" height="103"></a>
    <h2>Wonder of the Seas</h2>
  </div>
  <div class="bg-div2">
    <p class="slogan-header"><i>Don't wonder, it's from the oceans to your dish!</i></p>
  </div>

    <nav class="nav-bar">
      <ul>
        <li><a href="http://students.cpcc.edu/~prosari1" target="_blank">CP Webspace</a></li>
        <li><a href="https://github.com/prosari1" target="_blank">Github</a></li>
        <li><a href="https://prosari1.github.io/" target="_blank">Github Pages</a></li>
        <li><a href="https://www.khanacademy.org/profile/prosari1/" target="_blank">Khan Academy</a> </li>
        <li><a href="https://www.codecademy.com/profiles/prosari1" target="_blank">Codecademy</a></li>
        <li><a href="https://www.freecodecamp.org/prosari1" target="_blank">FreeCodeCamp</a></li>
        <li><a href="https://jsfiddle.net/user/prosari1" target="_blank">JSFiddle</a></li>
        <li><a href="https://profile.edx.org/u/prosari1" target="_blank">EdX</a></li>
        <li><a href="https://www.linkedin.com/in/pcrosario/" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
 
</header>